<div id = "Login">
    <div class="container">
            <a class= "website"> Website</a>
    
        <div class ="__1_platform_to_buy_and_sell_products" >
            #1 platform to buy and sell products <br/> 
        </div>
        <form [formGroup]="form" (ngSubmit)=" onSubmit()">
            <mat-form-field appearance="outline" class="email_section">
                <mat-label >Email</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="password_section">
                <mat-label >Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <div class="login_button" >
                <input class="btn" type="submit" value="Login" class = "login_text"> 
            </div>

            <div class="alert">
                {{ message }}
            </div>

        </form>
        
        <form>
        <div class="sign_up_button"  >
            <input class="sign_up_text" type="button"  onclick="window.location.href='https://www.cgi.com';" value ="Sign up" />
        </div>   
        </form> 

        <div class="remember_me">
            <mat-checkbox #rememberMe id="rememberMe" [checked]="isRememberMe" 
            (change)="onRememberMeChanged(rememberMe.checked)" > 
            Remember Me
            </mat-checkbox>
        </div>

        <div class = "right_side" > </div>
            <div class="image_markteplace">
                <img src="../../assets/image-markteplace.png">
        </div>

        <div class="forgot_password" >
            <a href=''> Forgot Password? </a>
        </div>

    </div>
</div>

