<!-- Title of the page -->
<div class="website">Website</div>

<!-- Title of the page -->
<div class="form-title">Create Account</div>

<!-- Form to sign up -->
<div class="example-container">
  <div class="form-container">
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input id="fullNameField" matInput formControlName="fullName" required>
        <mat-error *ngIf="form.controls.fullName.touched && form.controls.fullName.invalid">
          <span *ngIf="form.controls.fullName.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input id="emailField" matInput formControlName="email" required>
        <mat-error id="emailError" *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <span *ngIf="form.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="form.controls.email.errors.pattern">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password
        </mat-label>
        <input id="passwordField" matInput formControlName="password" type="password" required>
        <mat-error id="passwordError" *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <span *ngIf="form.controls.password.errors.required">This field is mandatory. <br></span>
          <span *ngIf="form.controls['password'].hasError('hasNumber')">Must contain at least 1 number!<br></span>
          <span *ngIf="form.controls['password'].hasError('hasCapitalCase')">  Must contain at least 1 capital case!<br></span>
          <span *ngIf="form.controls['password'].hasError('hasSmallCase')">Must contain at least 1 small case!<br></span>
          <span *ngIf="form.controls['password'].hasError('minlength')">  Must be at least 6 characters!<br></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Confirm Password</mat-label>
        <input id="confirmPasswordField" matInput formControlName="confirmPassword" type="password" required>
        <mat-error *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid" id="confirmPasswordError">
          <span *ngIf="form.controls.confirmPassword.errors.required">This field is mandatory.</span>
          <span *ngIf="form.controls['confirmPassword'].hasError('NoPassswordMatch')">Password do not match</span>
        </mat-error>
      </mat-form-field>
      <button class="signup-button" mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
    <!-- write logic to display message if form is submitted-->
    <div class="alert" *ngIf="message" role="alert">
    {{ message }}
    </div>
  </div>
</div>

<!-- Already have an account section -->
<div class="sign-in">
    <div class="left-sign-in">Already have an account ?</div>
    <div class="right-sign-in"><a routerLink="/login">Sign In</a></div>
</div>
