<h1 mat-dialog-title>Post a Product</h1>

<div class="example-container">
  <div class="form-container">
    <form [formGroup]="form" (submit)="submit()" enctype="multipart/form-data">
      <mat-form-field class="form-field">
        <input matInput type="text" placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <select matNativeControl formControlName="category" required>
          <option value="Phones">Phones</option>
          <option value="Computers">Computers</option>
          <option value="Accessories">Accessories</option>
        </select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" placeholder="Description" formControlName="description">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="Price" formControlName="price" required>
      </mat-form-field>
      <div>
        <label>Add Photos</label>
        <input type="file" accept="image/*" (change)="handleFileInput($event)" required>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="cancel()" value="cancel">Cancel</button>
        <button mat-button  type="submit" value="upload">Post</button>
      </div>    
    </form>
    <div class="alert" *ngIf="message" role="alert">
      {{ message }}
    </div>
    <!-- Show picture -->
    <!-- <div *ngIf=retrievedImage>
      <img [src]="retrievedImage">
    </div> -->
  </div>
</div>