
<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/latitude_notebooks/13_3320/media_gallery/peripherals_laptop_latitude_3320_gallery_1.psd?fmt=pjpg&pscan=auto&scl=1&wid=3337&hei=2417&qlt=85,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=3337,2417">

    <div class="card-body">
      <p class="card-text">
        <strong>{{ productItem.price | currency:'CAD' }}</strong>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-success">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
        </div>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
