<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="imageURL">
        <th class="text-cart" mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.imageURL" /> </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th class="text-cart" mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
             <div class="title">{{element.title}}</div>
             <a class="remove-button" href="">Remove</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="text-cart" mat-header-cell *matHeaderCellDef> Price </th>
      <td class="text-cart" mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th class="text-cart" mat-header-cell *matHeaderCellDef> Quantity </th>
      <td class="text-cart" mat-cell *matCellDef="let element">
        <div class="wrapper">
            <button class="plusminus" (click)="handleMinus()">-</button>
            <input type="number" class="num" value="0" [(ngModel)]="value" />
            <button class="plusminus" (click)="handlePlus()">+</button>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="total">
      <th class="text-cart" mat-header-cell *matHeaderCellDef> Total </th>
      <td class="text-cart" mat-cell *matCellDef="let element"> {{element.total}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>