<div class="card shadow">
    <img class="card-img-top img-fluid image-responsive" [src]="retrievedImage" />

    <div class="card-body">
        <h5 class="card-title">{{productItem.title}}</h5>
        <p class="card-text">
            <strong>{{ productItem.price | currency:'CAD' }}</strong>
        </p>
        <p class="card-text">{{ productItem.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button (click)="handleAddToCart()" type="button" class="btn btn-sm btn-outline-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>