<app-header></app-header>

<h1 class="title">Welcome</h1>

<div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="hvrbox card mb-4 shadow-sm">
            <img class="hvrbox-layer_bottom card-img-top" alt="Thumbnail [100%x225]" style="object-fit: cover; height: 400px; width: 100%; display: block;" src="../../assets/phone.jpg">              
            <p class="hvrbox-text card-text text-center">Phones</p>
            <div class="card-body" (click)="onClickPhones()">
              <p class="hvrbox-text card-text text-center">Phones</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="hvrbox card mb-4 shadow-sm">
            <img class="hvrbox-layer_bottom card-img-top" alt="Thumbnail [100%x225]" style="object-fit: cover; height: 400px; width: 100%; display: block;" src="../../assets/laptop.jpg">              
            <p class="hvrbox-text card-text text-center">Computers</p>
            <div class="card-body" (click)="onClickComputers()">
              <p class="hvrbox-text card-text text-center">Computers</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="hvrbox card mb-4 shadow-sm">
            <img class="hvrbox-layer_bottom card-img-top" alt="Thumbnail [100%x225]" style="object-fit: cover; height: 400px; width: 100%; display: block;" src="../../assets/accessories.png">              
            <p class="hvrbox-text card-text text-center">Accessories</p>
            <div class="card-body" (click)="onClickAccessories()">
              <p class="hvrbox-text card-text text-center">Accessories</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
