<app-header></app-header>

<h1 class="title">Welcome</h1>

<div class="album py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="hvrbox card mb-4 shadow-sm">
          <img
            alt="Thumbnail [100%x225]"
            class="hvrbox-layer_bottom card-img-top"
            src="../../assets/phone.jpg"
            style="
              object-fit: cover;
              height: 400px;
              width: 100%;
              display: block;
            "
          />
          <p class="hvrbox-text card-text text-center">Phones</p>
          <div (click)="onClickPhones()" class="card-body">
            <p class="hvrbox-text card-text text-center">Phones</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hvrbox card mb-4 shadow-sm">
          <img
            alt="Thumbnail [100%x225]"
            class="hvrbox-layer_bottom card-img-top"
            src="../../assets/laptop.jpg"
            style="
              object-fit: cover;
              height: 400px;
              width: 100%;
              display: block;
            "
          />
          <p class="hvrbox-text card-text text-center">Computers</p>
          <div (click)="onClickComputers()" class="card-body">
            <p class="hvrbox-text card-text text-center">Computers</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hvrbox card mb-4 shadow-sm">
          <img
            alt="Thumbnail [100%x225]"
            class="hvrbox-layer_bottom card-img-top"
            src="../../assets/accessories.png"
            style="
              object-fit: cover;
              height: 400px;
              width: 100%;
              display: block;
            "
          />
          <p class="hvrbox-text card-text text-center">Accessories</p>
          <div (click)="onClickAccessories()" class="card-body">
            <p class="hvrbox-text card-text text-center">Accessories</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
