<footer>
    <div class= "separator">
    </div>

    <div >
        <ul class="discovery"> Discovery 
            <li> Most searched </li>
            <li> Most selled </li>
        </ul>

        <ul class="about"> About
            <li> Help </li>
            <li> Shipping </li>
        </ul>

        <ul class="info"> Info 
            <li> Contact us </li>
            <li> Privacy Policies </li>
        </ul>
    </div>

    <div class="appNameFooter">
        Electronic Monkey
    </div>
</footer>

